.navbar_todo
    position: relative
    display: flex
    flex-direction: row
    height: 10em
    width: 100%
    border: 3px solid red
    justify-content: center
    align-items: center

.navbar_div_buttons
    position: relative
    display: flex
    flex-direction: row
    height: 90%
    width: 80%
    justify-content: space-between
    align-items: center
    border: 1px solid blue

.navbar_div_home_btn
    position: relative
    display: flex
    align-items: center
    justify-content: flex-start
    height: 100%
    width: 25%
    min-width: 150px
    padding-left: 1rem
    background-color: rgb(122, 122, 255)

.navbar_div_other_btns
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    height: 100%
    width: 70%
    min-width: 200px
    padding-right: 1rem
    background-color: rgb(122, 122, 255)

.navbar_div_others
    position: relative
    display: flex
    flex-direction: row
    height: auto
    width: 35%
    min-width: 200px
    background-color: rgba(255, 255, 255, 0.6) 
    justify-content: space-between


.navbar_divs_btn
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    width: 100px
    border-radius: 8px
    border: 1px solid transparent
    background-color: blue
    color: white
    font-size: 16px
