.layout_div
    position: relative
    display: flex
    height: 100%
    min-width: 100%
    border: 3px groove black

.layout_title
    position: relative
    display: flex
    flex-direction: row
    height: 25%
    width: 100%
    border: 2px solid blue 

.layout_body
    position: relative
    display: flex
    flex-direction: row
    height: 50%
    width: 100%
    border: 2px solid red  

.layout_body
    position: relative
    display: flex
    flex-direction: row
    height: 25%
    width: 100%
    border: 2px solid darkorange  